<section class='lookforward'>
    <div class='container'>
        <div class='look-forward-main'>
            <div class='look-forward-content'>
                <app-badges badges='WHAT WE DO'>
                </app-badges>
                <h3 class='look-forward-head'>
                    We look forward<br />
                    to sharing our perspective.
                </h3>
                <div class='lookforward-btn'>
                    <app-buttons eastbourne='LEARN MORE'></app-buttons>
                </div>
            </div>
            <div class='look-img'> <img src="../../../assets/images/lab-photo.svg" class="lab-image" alt="labimage" />
            </div>
        </div>
        <div class='look-forward-details'>
            <div class='laptop-img'> <img src="../../../assets/images/lab-photo.svg" class="laptop-image"
                    alt="labimage" /></div>
            <div class='look-forward-description'>
                <app-badges badges='CONTACT US'></app-badges>
                <h3 class='look-forward-head'>
                    Let's build something<br />
                    amazing together.
                </h3>
                <p class='look-forward-para'>
                    EastBourne is a private investment firm focused on Private Equity and Special Situations. We invest
                    strategically where our commitment and knowledge can most effectively create value for our business
                    partners.
                </p>
                <div class='lookforward-btn'>
                    <app-buttons eastbourne='CONTACT US'>
                    </app-buttons>
                </div>
            </div>
        </div>
    </div>
</section>