<div class='card-size'>
    <div class='cards'>
        <span class="cardbadge">
            {{expertiescards?.cardbadges}}
        </span>
        <div class='cards-detail'>
            <span class='card-name'>
                {{expertiescards?.cardname}}
            </span>
            <span class='card-city'>
                {{expertiescards?.cardcity}}
            </span>
        </div>
        <p class='card-description'>
            {{expertiescards?.cardcontent}}
        </p>
    </div>
    <div class='card-image'>
        <img src={{expertiescards?.cardimg}} class='card-img' alt='cardimage' />
    </div>
</div>