<header class="eastbourne-header">
    <div class="container">
        <nav class="navbar">
            <div class="headerlogo">
                <a href="/">
                    <img src="../../../assets/images/header-logo.svg" class="header-image" alt="header-logo" />
                </a>
            </div>
            <div class="nav-links">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul class="menu">
                    <li class="items-css">
                        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink='/'>Home</a>
                    </li>
                    <li class="items-css">
                        <a routerLinkActive="active" routerLink='/experties'> Our Experties</a>
                    </li>
                    <li class="items-css">
                        <a routerLinkActive="active" routerLink='/about'>About Us</a>
                    </li>
                    <li class="items-css">
                        <a routerLinkActive="active" routerLink="contactus">Contactus</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>