<section class="hero">
    <div class="container">
        <div class="heromain">
            <div class="description">
                <div class="badges">
                    <app-badges badges="about us"></app-badges>
                </div>
                <h2 class="hero-head">
                    Innovative strategies.
                    Engaged investing.
                </h2>
                <p class="hero-para">
                    EastBourne is a private investment firm focused on Private Equity and Special Situations. We invest
                    strategically where our commitment and knowledge can most effectively create value for our business
                    partners.
                </p>
                <app-buttons eastbourne="click here to know more"></app-buttons>
            </div>
            <div class="heroimage">
                <img src="../../../assets/images/Banner-Image.svg" class="hero-banner" alt="hero-logo" />
            </div>
        </div>
    </div>
</section>