<footer class='eastbourne-footer'>
    <div class='container'>
        <div class='footer-main'>
            <div class='eastbourne-main'>
                <div class='eastborune-footer-logo'>
                    <a href="/">
                        <img src="../../../assets/images/header-logo.svg" class="footer-logo" alt="footer-logo" />
                    </a>
                </div>
                <div class='email-details'>
                    <div class='email'>
                        <img src="../../../assets/images/Email.svg" class="email-logo" alt="email-logo" />
                        <span class='contact-number'>
                            0-111-000-XXXX
                        </span>
                    </div>
                    <div class='email'>
                        <img src="../../../assets/images/Call.svg" class="call-logo" alt="call-logo" />
                        <span class='contact-number'>
                            contact@eastbourne.domain
                        </span>
                    </div>
                </div>
            </div>
            <div class='quick-menu'>
                <div class='quick'>
                    <span class='quick-links-span'>
                        Quick Links
                    </span>
                    <div class='quick-links'>
                        <ul class='footer-menu'>
                            <li class='quick-links-menu'>
                                <a href='/' class='quick-link-a'>
                                    Home
                                </a>
                            </li>
                            <li class='quick-links-menu'>
                                <a href='/' class='quick-link-a'>
                                    Our Expertise
                                </a>
                            </li>
                        </ul>
                        <ul class='footer-menu'>
                            <li class='quick-links-menu'>
                                <a href='/' class='quick-link-a'>
                                    About Us
                                </a>
                            </li>
                            <li class='quick-links-menu'>
                                <a href='/' class='quick-link-a'>
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class='quick'>
                    <span class='quick-links-span'>
                        Social
                    </span>
                    <div class='quick-links'>
                        <ul class='footer-menu'>
                            <li class='quick-links-menu'>
                                <a href='/' class='quick-link-a'>
                                    Facebook
                                </a>
                            </li>
                            <li class='quick-links-menu'>
                                <a href='/' class='quick-link-a'>
                                    YouTube
                                </a>
                            </li>
                        </ul>
                        <ul class='footer-menu'>
                            <li class='quick-links-menu'>
                                <a href='/' class='quick-link-a'>
                                    Twitter
                                </a>
                            </li>
                            <li class='quick-links-menu'>
                                <a href='/' class='quick-link-a'>
                                    LinkedIn
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class='footer-border'></div>
        <div class='copyrigth-footer'>
            <div class='footer-copyrigth'>
                <span class='copyrigth'>
                    Copyright © 2021 EastBourne. All right reserved.
                </span>
            </div>
            <div class='terms-condition-menu'>
                <span class='terms-condition'>
                    Terms & Condition
                </span>
                <span class='terms-condition'>
                    Privacy
                </span>
            </div>
        </div>
    </div>
</footer>